@font-face {
  font-family: 'wf_segoe-ui_bold';
  src: url("../fonts/wf_segoe-ui_bold.eot");
  src: url("../fonts/wf_segoe-ui_bold.eot?#iefix") format("embedded-opentype"), url("../fonts/wf_segoe-ui_bold.woff") format("woff"), url("../fonts/wf_segoe-ui_bold.ttf") format("truetype"), url("../fonts/wf_segoe-ui_bold.svg#web") format("svg");
}

@font-face {
  font-family: 'wf_segoe-ui_light';
  src: url("../fonts/wf_segoe-ui_light.eot");
  src: url("../fonts/wf_segoe-ui_light.eot?#iefix") format("embedded-opentype"), url("../fonts/wf_segoe-ui_light.woff") format("woff"), url("../fonts/wf_segoe-ui_light.ttf") format("truetype"), url("../fonts/wf_segoe-ui_light.svg#web") format("svg");
}

@font-face {
  font-family: 'wf_segoe-ui_normal';
  src: url("../fonts/wf_segoe-ui_normal.eot");
  src: url("../fonts/wf_segoe-ui_normal.eot?#iefix") format("embedded-opentype"), url("../fonts/wf_segoe-ui_normal.woff") format("woff"), url("../fonts/wf_segoe-ui_normal.ttf") format("truetype"), url("../fonts/wf_segoe-ui_normal.svg#web") format("svg");
}

@font-face {
  font-family: 'wf_segoe-ui_semibold';
  src: url("../fonts/wf_segoe-ui_semibold.eot");
  src: url("../fonts/wf_segoe-ui_semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/wf_segoe-ui_semibold.woff") format("woff"), url("../fonts/wf_segoe-ui_semibold.ttf") format("truetype"), url("../fonts/wf_segoe-ui_semibold.svg#web") format("svg");
}

/* line 42, ../scss/style.scss */
html {
  width: 99.9%;
  height: 100%;
}

/* Fix the width of the body */
/* line 47, ../scss/style.scss */
body {
  min-width: 960px;
  margin: auto;
  background-color: transparent;
}

/* line 53, ../scss/style.scss */
.container {
  box-shadow: 0 0 23px rgba(50, 50, 50, 0.4);
  border-left: 1px solid #cbcbcb !important;
  border-style: inset;
  border-right: 1px solid #cbcbcb !important;
  min-width: 960px;
  max-width: 960px;
  margin: 0 auto;
}

/* Wrapper */
/* line 65, ../scss/style.scss */
.row {
  width: 960px;
  margin: auto;
  display: inline-block;
}

/* Column margins */
/* line 79, ../scss/style.scss */
.col_12,
.col_9,
.col_8,
.col_6,
.col_5,
.col_4,
.col_3 {
  margin-left: 10px;
  margin-right: 10px;
  display: inline;
  float: left;
}

/* line 85, ../scss/style.scss */
.col_12 {
  margin: 0 40px;
}

/* First and Last */
/* line 89, ../scss/style.scss */
.first {
  margin-left: 0px;
}

/* line 93, ../scss/style.scss */
.last {
  margin-right: 0px;
}

/* line 96, ../scss/style.scss */
.pervy {
  margin-left: 30px;
}

/* line 100, ../scss/style.scss */
.posledny {
  margin-right: 30px;
}

/* Column widths taking into account the margins */
/* line 104, ../scss/style.scss */
.col_12 {
  width: 880px;
}

/* line 105, ../scss/style.scss */
.col_9 {
  width: 620px;
}

/* line 106, ../scss/style.scss */
.col_8 {
  width: 580px;
}

/* line 107, ../scss/style.scss */
.col_6 {
  width: 420px;
}

/* line 108, ../scss/style.scss */
.col_5 {
  width: 350px;
}

/* line 109, ../scss/style.scss */
.col_4 {
  width: 260px;
}

/* line 110, ../scss/style.scss */
.col_3 {
  width: 220px;
}

/* line 112, ../scss/style.scss */
img {
  width: 100%;
}

/* line 114, ../scss/style.scss */
h1, h2, h3, h4, h5, h6, legend {
  font-weight: 600;
}

/* line 117, ../scss/style.scss */
a {
  transition: color 0.25s ease-in-out 0s, border-color 0.25s ease-in-out 0s, background-color 0.25s ease-in-out 0s;
}

/* Fix the .last issue */
/* line 122, ../scss/style.scss */
.last {
  margin-left: 0;
  margin-right: 10px;
}

/* line 127, ../scss/style.scss */
.body, html {
  font-family: "Segoe UI",wf_segoe-ui_light,"Segoe UI Light","Segoe WP Light","Segoe WP",Tahoma,Arial,sans-serif;
  font-size: 14px;
}

/* line 131, ../scss/style.scss */
.sti-blocks {
  padding-bottom: 30px;
}

/* line 135, ../scss/style.scss */
.header {
  background-image: url("../images/header-bg.jpg");
  background-repeat: no-repeat;
  height: 108px;
  min-width: 960px;
  margin-bottom: 30px;
  font-family: "Segoe UI",wf_segoe-ui_light,"Segoe UI Light","Segoe WP Light","Segoe WP",Tahoma,Arial,sans-serif;
}

/* line 143, ../scss/style.scss */
.label {
  border: 1px solid #ccc;
  border-left: none;
  border-right: none;
  height: 50px;
  margin-bottom: 30px;
}
/* line 149, ../scss/style.scss */
.label h2 {
  color: #4e6ba0;
  padding: 12px 0;
}

/* line 154, ../scss/style.scss */
.calc-label {
  border: 1px solid #ccc;
  border-left: none;
  border-right: none;
  height: 45px;
  margin-top: 20px;
}
/* line 161, ../scss/style.scss */
.calc-label h2 {
  color: #4e6ba0;
  padding: 6px 0;
  line-height: 27px;
}

/* menu */
/* line 175, ../scss/style.scss */
.menubar {
  position: relative;
  margin-left: 25px;
  min-width: 925px;
  height: 80px;
  top: 10px;
}
/* line 181, ../scss/style.scss */
.menubar * {
  margin: 0;
  padding: 0;
}
/* line 185, ../scss/style.scss */
.menubar #zhaibox {
  width: 20px;
  height: 18px;
  position: absolute;
  top: 46px;
  margin-left: -25px;
  background-color: #286ab0;
}
/* line 195, ../scss/style.scss */
.menubar #nav .menubutton {
  height: 40px;
  width: 21px;
  display: inline-block;
  background-color: #286ab0;
  position: relative;
  left: -1px;
  z-index: 2;
}
/* line 204, ../scss/style.scss */
.menubar #nav .menubutton:after {
  position: absolute;
  width: 2px;
  height: 0;
  top: 0;
  left: 99%;
  border-left: 0px solid transparent;
  border-right: 20px solid transparent;
  border-top: 40px solid #286ab0;
  content: '';
  z-index: 2;
}
/* line 216, ../scss/style.scss */
.menubar #nav #navbar {
  overflow: hidden;
  position: relative;
  left: 0px;
  width: 681px;
  z-index: 1;
}
/* line 224, ../scss/style.scss */
.menubar #nav #navbar li a:hover {
  background-color: #286ab0;
}
/* line 228, ../scss/style.scss */
.menubar #nav #navbar .menu-item {
  position: relative;
  left: -700px;
  box-shadow: -21px 0px 0px 0px #c3c3c3;
}
/* line 235, ../scss/style.scss */
.menubar #nav #navbar li:before {
  left: -20px;
  top: 0;
  position: absolute;
  width: 1px;
  height: 0;
  border-right: 0px solid transparent;
  border-left: 20px solid transparent;
  border-bottom: 40px solid #315387;
  content: '';
  top: 0;
  z-index: 2;
}
/* line 248, ../scss/style.scss */
.menubar #nav #navbar li:after {
  position: absolute;
  width: 1px;
  height: 0;
  top: 0;
  left: 99%;
  border-left: 0px solid transparent;
  border-right: 20px solid transparent;
  border-top: 40px solid #315387;
  content: '';
  z-index: 2;
}
/* line 261, ../scss/style.scss */
.menubar #nav #navbar li:hover:after {
  border-left-color: #286ab0;
  border-top-color: #286ab0;
}
/* line 266, ../scss/style.scss */
.menubar #nav #navbar li:hover:before {
  border-right-color: #286ab0;
  border-bottom-color: #286ab0;
}
/* line 275, ../scss/style.scss */
.menubar #nav ul {
  float: left;
  height: 40px;
  position: relative;
  display: inline;
  margin-top: 0;
  top: 0;
}
/* line 284, ../scss/style.scss */
.menubar #nav ul li {
  position: relative;
  height: 40px;
  font-size: 14px;
  line-height: 20px;
  float: left;
  list-style-type: none;
  margin-left: 21px;
}
/* line 293, ../scss/style.scss */
.menubar #nav ul li a {
  background: #315387;
  color: white !important;
  display: block;
  font-family: "Segoe WP Light","Segoe WP",Tahoma,Arial,sans-serif !important;
  font-weight: 300 !important;
  padding: 10px 15px;
  text-decoration: none;
  text-shadow: none;
  transition: none;
}

/* line 310, ../scss/style.scss */
#logo {
  position: relative;
  float: left;
  width: 222px;
  height: 64px;
  z-index: 2;
}

/* line 317, ../scss/style.scss */
#searchbar {
  position: relative;
  background-image: url("../images/searchbar.png");
  display: inline-block;
  margin-top: 6px;
  background-repeat: no-repeat;
  width: 684px;
  height: 18px;
}

/* PROMO */
/* line 328, ../scss/style.scss */
.promo, .content {
  margin-bottom: 5px;
}

/* line 331, ../scss/style.scss */
.promo {
  margin-bottom: 30px;
}

/* line 334, ../scss/style.scss */
.col_12.promo-item {
  display: block;
  margin-left: 40px;
}

/* line 338, ../scss/style.scss */
.card-container .card .front img {
  border-radius: 30px;
}

/* line 341, ../scss/style.scss */
.card-container .card .back {
  background-color: #fff;
  color: #fff;
  border-radius: 30px;
  font-weight: 600;
}

/* line 347, ../scss/style.scss */
.promo-readmore {
  border: 1px solid;
  font-size: 20px;
  line-height: 26px;
  color: #fff !important;
  text-decoration: none;
  font-weight: 300;
  position: relative;
  border-radius: 5px;
  display: inline-block;
  padding: 6px 12px;
  left: 50%;
  margin-left: -100px;
  top: 40%;
  width: 120px;
  height: 30px;
  background: #286ab0;
}

/* line 366, ../scss/style.scss */
.promo-readmore:hover {
  background: white;
  border-color: rgba(40, 106, 176, 0.75);
  color: #286ab0 !important;
  font-weight: 400;
}

/* line 372, ../scss/style.scss */
.promo-inform-text {
  text-align: left;
  font-weight: 600;
  padding: 30px;
  text-shadow: none;
}

/* line 379, ../scss/style.scss */
.promo-inform-text p {
  text-align: center;
  margin: 4px;
}

/* line 383, ../scss/style.scss */
.promo-inform-text ul li {
  list-style: disc;
  font-weight: 600;
  padding-right: 5px;
}

/* line 388, ../scss/style.scss */
.card-container {
  float: right;
}

/* line 391, ../scss/style.scss */
.card-container:first-child {
  margin-left: 0;
}

/* line 394, ../scss/style.scss */
.card-container:last-child {
  margin-right: 0;
}

/* footer */
/* line 399, ../scss/style.scss */
.footer {
  background-repeat: no-repeat;
  background-image: url("../images/footer-bg.jpg");
  height: 356px;
  margin-top: 20px;
  z-index: -1;
  box-shadow: 0 -5px 10px 0px rgba(50, 50, 50, 0.5);
}

/* line 407, ../scss/style.scss */
.footer2 {
  height: 260px;
  color: #fff;
  text-shadow: none;
}
/* line 411, ../scss/style.scss */
.footer2 p {
  margin-top: 20px;
}
/* line 414, ../scss/style.scss */
.footer2 ul {
  margin-top: 20px;
  position: relative;
}
/* line 417, ../scss/style.scss */
.footer2 ul li {
  margin-left: 0;
  padding: 7px 0;
  border-width: 0 0 1px;
  border-style: solid;
  border-color: #444;
}
/* line 424, ../scss/style.scss */
.footer2 ul li a {
  position: relative;
  color: #fff !important;
  text-decoration: none;
}
/* line 429, ../scss/style.scss */
.footer2 ul li a:hover {
  color: #3797dc !important;
}
/* line 434, ../scss/style.scss */
.footer2 ul li:first-child {
  padding-top: 0;
}

/* line 440, ../scss/style.scss */
.col_4.footer2.pervy {
  padding-left: 10px;
  min-width: 250px;
}

/* line 444, ../scss/style.scss */
.footer-label {
  margin-top: 15px;
  color: #cfcfcf;
  font-weight: bold;
  display: block;
  padding-bottom: 12px;
  border-width: 0 0 1px;
  border-style: solid;
  border-color: #3D3C3C;
}

/* line 454, ../scss/style.scss */
.col_4.footer2.pervy > p > span {
  margin-left: 32px;
}

/* line 458, ../scss/style.scss */
.col_12.footer1 {
  padding-bottom: 5px;
  height: 35px;
}

/* line 462, ../scss/style.scss */
#twits-block {
  margin-top: 5px;
}

/* line 466, ../scss/style.scss */
.col_4.footer2 {
  height: 258px;
  min-width: 260px;
  margin-left: 30px;
  margin-right: 20px;
}

/* line 473, ../scss/style.scss */
footer3 {
  margin-left: -80px;
}

/* line 476, ../scss/style.scss */
.portfolio-block {
  margin: 0 12px 30px 12px;
  width: 280px;
  height: 215px;
  float: left;
  left: 0;
  bottom: 0;
}

/* line 484, ../scss/style.scss */
.portfolio-block.first {
  margin-left: 37px;
}

/* line 487, ../scss/style.scss */
.portfolio-block a {
  text-shadow: none;
  font-weight: 400;
  text-decoration: none;
}

/* line 492, ../scss/style.scss */
.portfolio {
  display: inline-block;
}

/* line 495, ../scss/style.scss */
.imagecaption {
  text-align: center;
  width: 280px;
  height: 60px;
  display: block;
  background-color: #3370B5;
  position: relative;
  top: -60px;
  opacity: 1;
  display: none;
}

/* line 506, ../scss/style.scss */
.imagecaptiontext {
  padding-top: 10px;
  color: #fff;
  font-weight: 300;
  line-height: 22px;
  font-size: 14px;
  display: inline-block;
}

/* social icons */
/* line 517, ../scss/style.scss */
#social-icons {
  float: right;
  height: 26px;
  padding: 10px 0 0;
}

/* line 522, ../scss/style.scss */
.share-caption {
  color: #fff;
  font-weight: 300;
  padding-bottom: 5px;
  font-size: 14px;
  text-shadow: none;
}

/* line 529, ../scss/style.scss */
#social-icons a img {
  float: left;
}

/* line 530, ../scss/style.scss */
.social-link {
  display: inline-block;
}

/* line 534, ../scss/style.scss */
.share42init {
  padding-top: 5px;
}

/* line 537, ../scss/style.scss */
.floating {
  background-image: url(../images/cart.png);
  background-repeat: no-repeat;
  color: #fff;
  font: normal normal 14px Tahoma;
  width: 280px;
  /*указываем ширину*/
  height: 60px;
  border-radius: 1em  0em 0em 1em;
  -moz-border-radius: 1em  0em 0em 1em;
  -webkit-border-radius: 1em  0em 0em 1em;
  display: block;
}

/* line 549, ../scss/style.scss */
.floating label {
  text-align: center;
  width: 180px;
  padding: 4px 0 0;
}

/* line 554, ../scss/style.scss */
.floating input {
  width: 145px;
  text-align: center;
  background-color: transparent;
  color: #fff;
  border: none;
  font-weight: normal;
}

/* line 562, ../scss/style.scss */
.floating > div a {
  display: block;
  background: url("../images/cart-ico.png") 0 0 no-repeat;
  width: 60px;
  height: 45px;
  position: relative;
  top: -45px;
  left: -10px;
  float: right;
  cursor: pointer;
}

/* line 573, ../scss/style.scss */
#getFixed {
  z-index: 9999;
  background-image: url(../images/cart.png);
  background-repeat: no-repeat;
  color: #fff;
  font: normal normal 14px Tahoma;
  width: 280px;
  /*указываем ширину*/
  height: 60px;
  border-radius: 1em  0em 0em 1em;
  -moz-border-radius: 1em  0em 0em 1em;
  -webkit-border-radius: 1em  0em 0em 1em;
  display: none;
  right: 5px;
}
/* line 587, ../scss/style.scss */
#getFixed label {
  text-align: center;
  width: 180px;
  padding: 4px 0 0;
}
/* line 592, ../scss/style.scss */
#getFixed input {
  width: 145px;
  text-align: center;
  background-color: transparent;
  color: #fff;
  border: none;
  font-weight: normal;
}
/* line 600, ../scss/style.scss */
#getFixed > div a {
  display: block;
  background: url("../images/cart-ico.png") 0 0 no-repeat;
  width: 60px;
  height: 45px;
  position: relative;
  top: -45px;
  left: -10px;
  float: right;
  cursor: pointer;
}

/* line 614, ../scss/style.scss */
.fixed {
  display: block;
  right: 0%;
  bottom: 10px;
  /*здесь указываем отступ сверху*/
  z-index: 9999;
  /*устанавливаем блок поверх всех элементов на странице*/
}

/* line 622, ../scss/style.scss */
.ui-controlgroup-controls > div > label > ul {
  color: #757889;
  font-weight: 400;
}

/* line 626, ../scss/style.scss */
.ui-state-zamarozhen {
  opacity: 1;
}

/* line 627, ../scss/style.scss */
.ui-state-zamarozhen .ui-btn {
  color: #959EA6 !important;
}

/* line 628, ../scss/style.scss */
.invisible {
  display: none !important;
}

/* line 629, ../scss/style.scss */
.formcolumn {
  width: 50%;
  float: left;
}

/* line 630, ../scss/style.scss */
.context {
  text-align: center;
  font-weight: 400;
  color: black;
  display: block;
  font-size: 18px;
  line-height: 26px;
  padding: 0px 0 30px;
  text-align: justify;
}
/* line 639, ../scss/style.scss */
.context ul {
  list-style-image: url(../images/snowflake.png);
}
/* line 641, ../scss/style.scss */
.context ul li {
  list-style-image: url(../images/snowflake.png);
}

/* line 646, ../scss/style.scss */
#main-context {
  color: #000;
  border-color: #cccccc;
  border-image: none;
  border-style: solid none;
  border-width: 1px medium;
  margin-bottom: 20px;
}
/* line 653, ../scss/style.scss */
#main-context p {
  margin-bottom: 0;
  text-indent: 40px;
}
/* line 658, ../scss/style.scss */
#main-context p:first-child {
  margin-top: 20px;
}

/* line 662, ../scss/style.scss */
.feature {
  margin: 30px 0;
  border-bottom: 1px solid #ccc;
}

/* line 666, ../scss/style.scss */
.feature:last-child {
  border-bottom: none;
}

/* line 669, ../scss/style.scss */
.feature legend {
  color: #4e6ba0;
  font-size: 20px;
  margin-bottom: 5px;
}

/* line 674, ../scss/style.scss */
.ui-tabs .ui-content {
  padding: 10px 0;
}

/* line 677, ../scss/style.scss */
#slider14 {
  width: 70px;
}

/* line 680, ../scss/style.scss */
.shortstory {
  float: left;
  margin-bottom: 30px;
  width: 880px;
}

/* line 686, ../scss/style.scss */
.shortstory table tbody, .shortstory table tbody tr, .shortstory table tbody tr td p {
  margin: 0;
  padding: 15px 0;
}

/* line 690, ../scss/style.scss */
.shortstory table tbody, .shortstory table tbody tr, .shortstory table tbody tr td {
  border: 1px solid #ccc;
}

/* line 693, ../scss/style.scss */
.table-wrapper {
  display: inline-block;
}

/**********************/
/*****VIRTUALIZATION**/
/*******************/
/* line 703, ../scss/style.scss */
.slider-caption, .slider-foreword {
  clear: left;
  color: #919191;
  display: block;
  padding: 7px 0;
  width: 600px;
}

/* line 710, ../scss/style.scss */
.slider-caption .selector-abbr {
  float: left;
  padding-right: 10px;
}

/* line 714, ../scss/style.scss */
.slider-caption .selector-abbr, .slider-caption .selector-name {
  margin: 0;
  overflow: hidden;
  padding: 0;
}

/* line 720, ../scss/style.scss */
.slider-caption .selector-abbr li {
  margin: 0;
  background-color: #999999;
  border-left: 2px solid #FFFFFF;
  clear: none;
  cursor: pointer;
  float: left;
  font-family: "wf_segoe-ui_semibold","Segoe UI Semibold","Segoe WP Semibold","Segoe WP",Tahoma,Arial,sans-serif;
  font-size: 11px;
  font-weight: 400;
  height: 30px;
  line-height: 11px;
  min-width: 10px;
  width: 10px;
  height: 10px;
  padding: 8px;
  text-align: center;
  text-transform: uppercase;
}

/* line 739, ../scss/style.scss */
.slider-caption .selector-abbr li:last-child {
  padding-right: 12px;
}

/* line 742, ../scss/style.scss */
.pricing-calc-meters li, .pricing-calc-meters, .pricing-calc-meters-advanced li, .pricing-calc-meters-advanced {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* line 748, ../scss/style.scss */
.slider-caption .selector-abbr li a {
  color: #FFFFFF;
  text-decoration: none;
  outline: medium none;
}

/* line 753, ../scss/style.scss */
.slider-caption .selector-abbr li.active, .slider-caption .selector-abbr li.active:hover a {
  background-color: #4D85C4;
  color: #FFFFFF;
}

/* line 757, ../scss/style.scss */
.slider-caption .selector-abbr, .slider-caption .selector-name {
  margin: 0 1em 0 0;
  overflow: hidden;
  padding: 0;
}

/* line 762, ../scss/style.scss */
.slider-caption .selector-name {
  clear: both;
}

/* line 765, ../scss/style.scss */
.slider-caption .selector-name li.active {
  display: block;
}

/* line 768, ../scss/style.scss */
.slider-caption .selector-name li {
  margin: 0;
  display: none;
  line-height: 28px;
  font-size: 14px;
}

/* line 774, ../scss/style.scss */
.slider-caption .selector-name li {
  float: left;
}

/* line 777, ../scss/style.scss */
.pricing-calc-meters li, .pricing-calc-meters, .pricing-calc-meters-advanced li, .pricing-calc-meters-advanced {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* line 782, ../scss/style.scss */
.virt-left-column {
  width: 70%;
  display: inline-block;
  float: left;
}

/* line 787, ../scss/style.scss */
.virt-right-column {
  width: 30%;
  display: inline-block;
  float: left;
  background-color: transparent;
}

/* line 793, ../scss/style.scss */
.result-block {
  margin-left: 3em;
  font-size: 2em;
}

/* line 798, ../scss/style.scss */
.result-block label {
  color: #ffffff !important;
  text-shadow: 0 1px 0 #fff !important;
}

/* line 802, ../scss/style.scss */
.resultspan {
  width: 200px;
  display: block;
  color: red;
  color: #ff0000 !important;
  clear: both;
  text-align: left;
  font-size: 22px;
  height: 30px;
}

/* line 812, ../scss/style.scss */
.slider-result {
  font-size: 30px;
}

/* line 816, ../scss/style.scss */
.result-block div {
  clear: both;
}

/* line 819, ../scss/style.scss */
.azure_calc_main section {
  border-bottom: 1px solid #ddd;
}

/* line 822, ../scss/style.scss */
.slider-caption {
  font-size: 14px;
  line-height: 28px;
  clear: left;
  color: #919191;
  text-align: left;
  display: block;
}

/**/
/* line 831, ../scss/style.scss */
#it-outsourcing-calc li {
  width: 80px;
}

/* line 834, ../scss/style.scss */
#itcontacts {
  width: 100%;
  position: relative;
}

/* line 838, ../scss/style.scss */
.columndiv {
  width: 50%;
  position: relative;
  float: left;
  clear: none;
}

/* line 844, ../scss/style.scss */
.columndiv > label {
  width: 30%;
}

/* line 847, ../scss/style.scss */
.columndiv > div.ui-input-text {
  width: 60%;
  margin-bottom: 15px;
}

/* line 851, ../scss/style.scss */
#itogo {
  background-color: #333;
  border-color: #1f1f1f;
  border-radius: 5px;
  color: #fff;
  float: right;
  height: 30px;
  margin-top: 7px;
  padding: 8px 10px;
  text-shadow: 0 1px 0 #111;
  min-width: 310px;
}

/* line 863, ../scss/style.scss */
#itogo span {
  font-size: 18px;
  font-weight: bold;
  line-height: 28px;
}

/* line 869, ../scss/style.scss */
.order-button {
  width: 295px !important;
}

/* scroll to top and bottom */
/* line 873, ../scss/style.scss */
.nav_up {
  background: url("../images/arrow_up.png") no-repeat scroll 50% 50% rgba(0, 0, 0, 0);
  border: 1px solid #cccccc;
  bottom: 50px;
  cursor: pointer;
  height: 20px;
  left: 30px;
  padding: 7px;
  position: fixed;
  white-space: nowrap;
  width: 20px;
}

/* line 885, ../scss/style.scss */
.nav_down {
  background: url("../images/arrow_down.png") no-repeat scroll 50% 50% rgba(0, 0, 0, 0);
  border: 1px solid #cccccc;
  bottom: 50px;
  cursor: pointer;
  height: 20px;
  left: 70px;
  padding: 7px;
  position: fixed;
  white-space: nowrap;
  width: 20px;
}

/* tooltip */
/* line 901, ../scss/style.scss */
.slider-tooltip > img {
  width: 16px;
  height: 16px;
  cursor: pointer;
  display: none;
}

/* line 908, ../scss/style.scss */
.slider-tooltip p {
  display: none;
}

/* line 911, ../scss/style.scss */
.main-content {
  min-width: 880px;
  max-width: 880px;
  margin-left: 35px;
  display: inline-block;
  margin-bottom: 30px;
}

/* line 918, ../scss/style.scss */
.main-content.perviy {
  margin-top: 30px;
}

/* line 921, ../scss/style.scss */
.main-content.vtoroi > .col_4 {
  float: right;
}

/* line 924, ../scss/style.scss */
.main-content-text {
  height: 260px;
  font-size: 18px;
}

/* line 928, ../scss/style.scss */
.main-content-text > ul li {
  list-style-image: url(../images/snowflake-mini.png);
  line-height: 26px;
}

/* line 933, ../scss/style.scss */
.main-content-text > h2 {
  margin-left: 30px;
  margin-bottom: 10px;
  font-family: "Segoe UI",wf_segoe-ui_light,"Segoe UI Light","Segoe WP Light","Segoe WP",Tahoma,Arial,sans-serif;
}

/* line 939, ../scss/style.scss */
#tabs > div.content > section > form {
  display: none;
}

/* line 942, ../scss/style.scss */
#tabs > div > section > span, #tabs > div > section > span > a {
  color: #286AB0;
  font-weight: bold;
}

/* Media queries*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.1), only screen and (min--moz-device-pixel-ratio: 1.1), only screen and (-ms-min-device-pixel-ratio: 1.1), only screen and (-o-min-device-pixel-ratio: 2 / 1.9), only screen and (min-device-pixel-ratio: 1.1), only screen and (min-resolution: 101dpi), only screen and (min-resolution: 1.1dppx) {
  /* line 958, ../scss/style.scss */
  html {
    background: #fff 0 0 no-repeat;
  }

  /* line 962, ../scss/style.scss */
  #nav_up, #nav_down {
    visibility: hidden;
  }
}
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
  /* line 968, ../scss/style.scss */
  #nav_up, #nav_down {
    visibility: hidden;
  }

  /* line 971, ../scss/style.scss */
  .menubar #nav ul li a {
    padding: 10px 15px;
  }

  /* your css rules for ipad portrait */
}
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation: landscape) {
  /* line 978, ../scss/style.scss */
  #nav_up, #nav_down {
    visibility: hidden;
  }

  /* line 981, ../scss/style.scss */
  .menubar #nav ul li a {
    padding: 10px 15px;
  }

  /* your css rules for ipad landscape */
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* line 992, ../scss/style.scss */
  .menubar #nav #navbar li:before {
    left: -19px;
  }

  /* line 995, ../scss/style.scss */
  .menubar #nav ul li a {
    padding: 10px 14px;
  }
}
