@font-face{
	font-family:'wf_segoe-ui_bold';
	src:url('../fonts/wf_segoe-ui_bold.eot');
	src:url('../fonts/wf_segoe-ui_bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/wf_segoe-ui_bold.woff') format('woff'),
	url('../fonts/wf_segoe-ui_bold.ttf') format('truetype'),
	url('../fonts/wf_segoe-ui_bold.svg#web') format('svg');
	
}

@font-face{
	font-family:'wf_segoe-ui_light';
	src:url('../fonts/wf_segoe-ui_light.eot');
	src:url('../fonts/wf_segoe-ui_light.eot?#iefix') format('embedded-opentype'),
	url('../fonts/wf_segoe-ui_light.woff') format('woff'),
	url('../fonts/wf_segoe-ui_light.ttf') format('truetype'),
	url('../fonts/wf_segoe-ui_light.svg#web') format('svg');
	
}

@font-face{
	font-family:'wf_segoe-ui_normal';
	src:url('../fonts/wf_segoe-ui_normal.eot');
	src:url('../fonts/wf_segoe-ui_normal.eot?#iefix') format('embedded-opentype'),
	url('../fonts/wf_segoe-ui_normal.woff') format('woff'),
	url('../fonts/wf_segoe-ui_normal.ttf') format('truetype'),
	url('../fonts/wf_segoe-ui_normal.svg#web') format('svg');
	
}

@font-face{
	font-family:'wf_segoe-ui_semibold';
	src:url('../fonts/wf_segoe-ui_semibold.eot');
	src:url('../fonts/wf_segoe-ui_semibold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/wf_segoe-ui_semibold.woff') format('woff'),
	url('../fonts/wf_segoe-ui_semibold.ttf') format('truetype'),
	url('../fonts/wf_segoe-ui_semibold.svg#web') format('svg');
	
}


html { 
   width:99.9%; 
   height:100%; 
}
/* Fix the width of the body */
body {
min-width: 960px;
margin:auto;
background-color:transparent;

}
.container{
box-shadow: 0 0 23px rgba(50, 50, 50, 0.4);
border-left:1px solid #cbcbcb !important;
border-style:inset;
border-right:1px solid #cbcbcb !important;
min-width: 960px;
max-width: 960px;
margin:0 auto;

}

/* Wrapper */
.row {
width:960px;
margin:auto;
display:inline-block;
}
 
/* Column margins */
.col_12, /* full width */
.col_9, /* 3/4 width */
.col_8, /* 2/3 width */
.col_6, /* half width */
.col_5,
.col_4, /* 1/3 width */
.col_3 /* 1/4 width */
{
margin-left: 10px;
margin-right: 10px;
display: inline;
float: left;
}
.col_12{
margin: 0 40px;
} 
/* First and Last */
.first {
margin-left:0px;
}
 
.last {
margin-right:0px;
}
.pervy{
	margin-left:30px;
} 

.posledny{
	margin-right:30px;
} 
/* Column widths taking into account the margins */
.col_12 {width:880px;}
.col_9 {width:620px;}
.col_8 {width:580px;}
.col_6 {width:420px;}
.col_5 {width:350px;}
.col_4 {width:260px;}
.col_3 {width:220px;}
 
img {width:100%;}

h1, h2, h3, h4, h5, h6, legend{
	font-weight: 600;
}
a {
    transition: color 0.25s ease-in-out 0s, border-color 0.25s ease-in-out 0s, background-color 0.25s ease-in-out 0s;
}
 
/* Fix the .last issue */
.last {
margin-left:0;
margin-right:10px;
}

.body,html{
font-family:"Segoe UI",wf_segoe-ui_light,"Segoe UI Light","Segoe WP Light","Segoe WP",Tahoma,Arial,sans-serif;
font-size:14px;
}
.sti-blocks{
	padding-bottom:30px;
}

.header{
background-image: url('../images/header-bg.jpg');
background-repeat:no-repeat;
height:108px;
min-width:960px;
margin-bottom:30px;
font-family:"Segoe UI",wf_segoe-ui_light,"Segoe UI Light","Segoe WP Light","Segoe WP",Tahoma,Arial,sans-serif;
}
.label{
border:1px solid #ccc;
border-left:none;
border-right:none;
height:50px;
margin-bottom:30px;
	h2{
		color: #4e6ba0;
		padding:12px 0;
	}
}
.calc-label{
	border:1px solid #ccc;
	border-left:none;
	border-right:none;
	height:45px;
	margin-top:20px;
	
	h2{
		color: #4e6ba0;
		padding:6px 0;
		line-height: 27px;
	}
}



/* menu */

$kok: #315387;
$goluboi: #286AB0;
$kokpressed: #3399FF;
.menubar{
	position:relative;
    margin-left:25px;
    min-width: 925px;
	height:80px;
	top:10px;
	*{
		margin:0;
		padding:0;
	}
	#zhaibox{
		width:20px;
		height:18px;
		position:absolute;
		top:46px;
		margin-left:-25px;
		background-color:$goluboi;
	}
	#nav{
		
		.menubutton{
			height:40px;
			width:21px;
			display:inline-block;
			background-color:$goluboi;
			position:relative;
			left:-1px;
			z-index:2;
		}
		.menubutton:after{
			position: absolute;
			width: 2px; 
			height: 0; 
			top:0;
			left:99%;
			border-left: 0px solid transparent;
			border-right: 20px solid transparent;
			border-top: 40px solid $goluboi;
			content: '';
			z-index:2;
		}
		#navbar{
			overflow:hidden;
			position:relative;
			left:0px;
			width:681px;
			z-index:1;
			
			
			li a:hover {
					background-color: $goluboi;
						
				}
			.menu-item{
				
				position:relative;
				left:-700px;
				box-shadow: -21px 0px 0px 0px rgba(195, 195, 195, 1);
			}
			
			li:before{
				left: -20px;
				top:0;
				position: absolute;
				width: 1px; 
				height: 0; 
				border-right: 0px solid transparent;
				border-left: 20px solid transparent;
				border-bottom: 40px solid $kok;
				content: '';
				top:0;
				z-index:2;
			}
			li:after{
				position: absolute;
				width: 1px;  
				height: 0; 
				top:0;
				left:99%;
				border-left: 0px solid transparent;
				border-right: 20px solid transparent;
				border-top: 40px solid $kok;
				content: '';
				z-index:2;
			}
			
			li:hover:after{
				border-left-color: $goluboi; 
				border-top-color: $goluboi; 
					
			}	
			li:hover:before{
				border-right-color: $goluboi; 
				border-bottom-color: $goluboi;
									
			} 
		}		
		
			
		
		ul{	
			float:left;
			height:40px;
			position:relative;
			display:inline;
			margin-top:0;
			top:0;
			
			
			li{	
				position:relative;
				
				height:40px;
				font-size:14px;
				line-height:20px;
				float: left; 
				list-style-type: none;
				margin-left:21px;	
				a{ 
					background: $kok; 
					color: white !important; 
					display: block; 
					font-family: "Segoe WP Light","Segoe WP",Tahoma,Arial,sans-serif !important;
					font-weight:300 !important;				
					padding: 10px 15px; 
					text-decoration: none;
					text-shadow:none;
					transition:none;
					}
				
			}
			li{}
		}
	}
}
#logo{
	position:relative;
	float:left;
	width:222px;
	height:64px;
	z-index:2;
}
#searchbar{
	position:relative;
	background-image:url("../images/searchbar.png");
	display:inline-block;
	margin-top:6px;
	background-repeat:no-repeat;
	width:684px;
	height:18px;
}

/* PROMO */
.promo, .content{
	margin-bottom:5px;
}
.promo{
	margin-bottom:30px;
}
.col_12.promo-item{
	display:block;
	margin-left:40px;
}
.card-container .card .front img{
border-radius:30px;
}
.card-container .card .back{
background-color:#fff;
color:#fff;
border-radius:30px;
font-weight:600;
}
.promo-readmore{
	border:1px solid;
	font-size:20px;
	line-height:26px;
	color:#fff !important;
	text-decoration:none;
	font-weight:300;
	position:relative;
	border-radius: 5px;
    display: inline-block;
    padding: 6px 12px;
	left:50%;
	margin-left:-100px;
	top:40%;
	width:120px;
	height:30px;
	background:rgba(40, 106, 176, 1);
	
}
.promo-readmore:hover{
		background: rgba(255, 255, 255, 1);
		border-color:rgba(40, 106, 176, 0.75);
		color: rgba(40, 106, 176, 1) !important;
		font-weight:400;
	}
.promo-inform-text{
	text-align:left;
	
	font-weight:600;
	padding:30px;
	text-shadow:none;
}
.promo-inform-text p{
	text-align:center;
	margin:4px;
}
.promo-inform-text ul li{
	list-style:disc;
	font-weight:600;
	padding-right:5px;
}
.card-container{
	float:right;
}
.card-container:first-child{
margin-left:0;
}
.card-container:last-child{
margin-right:0;
}
/* footer */

.footer{
	background-repeat:no-repeat;
	background-image:url('../images/footer-bg.jpg');
	height:356px;
	margin-top:20px;
	z-index:-1;
	box-shadow: 0 -5px 10px 0px rgba(50, 50, 50, 0.5)
}
.footer2{
height:260px;
color:#fff;
text-shadow:none;
	p{
		margin-top:20px;
	}
	ul{
		margin-top:20px;
		position:relative;
		 li{
			
			margin-left:0;
			padding:7px 0;
			border-width: 0 0 1px;
		border-style:solid;
		border-color: #444;
			a{	
				position:relative;
				color:#fff !important;
				text-decoration:none;
			}
			a:hover{
				color:#3797dc !important;
			}
		
		}
		li:first-child{
			padding-top:0;
		}	
	}
	
}
.col_4.footer2.pervy{
	padding-left:10px;
	min-width:250px;
}
.footer-label{
	margin-top:15px;
	color:#cfcfcf;
	font-weight:bold;
	display:block;
	padding-bottom:12px;
	border-width: 0 0 1px;
	border-style:solid;
	border-color: #3D3C3C;
}
.col_4.footer2.pervy>p>span{
	margin-left:32px;
}

.col_12.footer1{
padding-bottom:5px;
height:35px;
}
#twits-block{
	
	margin-top:5px;
}
.col_4.footer2{
height:258px;
min-width:260px;
margin-left: 30px;
margin-right: 20px;
}

footer3{
margin-left:-80px;
}
.portfolio-block{
margin:0 12px 30px 12px;
width:280px;
height:215px;
float:left;
 left: 0;
  bottom: 0;
}
.portfolio-block.first{
margin-left:37px;
}
.portfolio-block a{
	text-shadow:none;
	font-weight:400;
	text-decoration:none;
}
.portfolio{
display:inline-block;	
}
.imagecaption{
text-align:center;
width:280px;
height:60px;
display:block;
background-color: #3370B5;
position:relative;
top:-60px;
opacity:1;
display:none;
}
.imagecaptiontext{
	padding-top:10px;
	color:#fff;
	font-weight:300;
	line-height:22px;
	font-size:14px;
	display:inline-block;
	
	
}
/* social icons */
#social-icons{
float:right;
height:26px;
padding:10px 0 0;
}
.share-caption{
	color:#fff;
	font-weight:300;
	padding-bottom:5px;
	font-size:14px;
	text-shadow:none;
}
#social-icons a img { float:left; }
.social-link{
	display:inline-block;
}

.share42init{
padding-top:5px;
}
.floating {
 background-image: url(../images/cart.png);
 background-repeat:no-repeat;
 color: #fff;
 font: normal normal 14px Tahoma; 
 width: 280px; /*указываем ширину*/
 height:60px;
 border-radius:1em  0em 0em 1em ;
 -moz-border-radius:1em  0em 0em 1em ;
 -webkit-border-radius:1em  0em 0em 1em ;
 display:block;
}
.floating label{
	text-align:center;
	width:180px;
	padding:4px 0 0;
}
.floating input{
	width:145px;
	text-align:center;
	background-color:transparent;
	color:#fff;
	border:none;
	font-weight:normal;
}
.floating>div a{
	display:block;
	background:url("../images/cart-ico.png") 0 0 no-repeat;
	width:60px;
	height:45px;
	position:relative;
	top:-45px;
	left:-10px;
	float:right;
	cursor:pointer;
}
#getFixed { 
 z-index: 9999;
 background-image: url(../images/cart.png);
 background-repeat:no-repeat;
 color: #fff;
 font: normal normal 14px Tahoma; 
 width: 280px; /*указываем ширину*/
 height:60px;
 border-radius:1em  0em 0em 1em ;
 -moz-border-radius:1em  0em 0em 1em ;
 -webkit-border-radius:1em  0em 0em 1em ;
 display:none;
 right:5px;	
	
	label{
	text-align:center;
	width:180px;
	padding:4px 0 0;
}
	input{
	width:145px;
	text-align:center;
	background-color:transparent;
	color:#fff;
	border:none;
	font-weight:normal;
}
	>div a{
	display:block;
	background:url("../images/cart-ico.png") 0 0 no-repeat;
	width:60px;
	height:45px;
	position:relative;
	top:-45px;
	left:-10px;
	float:right;
	cursor:pointer;
}


}
.fixed {
 display:block;
 right:0%;
 
 bottom: 10px; /*здесь указываем отступ сверху*/
 z-index: 9999; /*устанавливаем блок поверх всех элементов на странице*/
}

.ui-controlgroup-controls>div>label>ul{
	color: #757889;
	font-weight:400;
} 
.ui-state-zamarozhen{opacity:1;}
.ui-state-zamarozhen .ui-btn{color:#959EA6 !important;}
.invisible{display:none !important}
.formcolumn{width:50%;float:left;}
.context{
	text-align:center;
	font-weight:400;
	color: black;
    display: block;
	font-size: 18px;
    line-height: 26px;
    padding: 0px 0 30px;
	text-align:justify;
	ul{
		list-style-image: url(../images/snowflake.png);
		li{
			list-style-image: url(../images/snowflake.png);
		}
	}
}
#main-context{
	color:#000;
	border-color: #cccccc;
    border-image: none;
    border-style: solid none;
    border-width: 1px medium;
	margin-bottom:20px;
	p{
		margin-bottom: 0;
		text-indent:40px;
		
	}
	p:first-child{
		margin-top:20px;
	}
}
.feature{
	margin:30px 0;
	border-bottom:1px solid #ccc;
}
.feature:last-child{
	border-bottom:none;
}
.feature legend{
	color:#4e6ba0;
	font-size: 20px;
	margin-bottom:5px;
}
.ui-tabs .ui-content{
	 padding: 10px 0;
}
#slider14{
	width:70px;
}
.shortstory {
    float: left;
    margin-bottom: 30px;
	
    width: 880px;
}
.shortstory table tbody, .shortstory table tbody tr, .shortstory table tbody tr td p{
	margin:0;
	padding:15px 0;
}
.shortstory table tbody, .shortstory table tbody tr, .shortstory table tbody tr td{
	border:1px solid #ccc;
}
.table-wrapper{
	
	display:inline-block;
	
}


/**********************/
/*****VIRTUALIZATION**/
/*******************/
.slider-caption, .slider-foreword {
    clear: left;
    color: #919191;
    display: block;
    padding: 7px 0;
    width: 600px;
}
.slider-caption .selector-abbr {
    float: left;
    padding-right: 10px;
}
.slider-caption .selector-abbr, .slider-caption .selector-name {
    margin: 0;
    overflow: hidden;
    padding: 0;
}

.slider-caption .selector-abbr li {
	margin:0;
    background-color: #999999;
    border-left: 2px solid #FFFFFF;
    clear: none;
    cursor: pointer;
    float: left;
    font-family: "wf_segoe-ui_semibold","Segoe UI Semibold","Segoe WP Semibold","Segoe WP",Tahoma,Arial,sans-serif;
    font-size: 11px;
    font-weight: 400;
    height: 30px;
    line-height: 11px;
    min-width: 10px;
	width:10px;
	height:10px;
    padding: 8px;
    text-align: center;
    text-transform: uppercase;
}
.slider-caption .selector-abbr li:last-child{
	padding-right:12px;
}
.pricing-calc-meters li, .pricing-calc-meters, .pricing-calc-meters-advanced li, .pricing-calc-meters-advanced {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.slider-caption .selector-abbr li a {
    color: #FFFFFF;
	text-decoration:none;
    outline: medium none;
}
.slider-caption .selector-abbr li.active, .slider-caption .selector-abbr li.active:hover a {
    background-color: #4D85C4;
    color: #FFFFFF;
}
.slider-caption .selector-abbr, .slider-caption .selector-name {
    margin: 0 1em 0 0;
    overflow: hidden;
    padding: 0;
}
.slider-caption .selector-name {
    clear: both;
}
.slider-caption .selector-name li.active {
    display: block;
}
.slider-caption .selector-name li {
	margin:0;
    display: none;
    line-height: 28px;
	font-size: 14px;
}
.slider-caption .selector-name li {
    float: left;
}
.pricing-calc-meters li, .pricing-calc-meters, .pricing-calc-meters-advanced li, .pricing-calc-meters-advanced {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.virt-left-column{
	width:70%;
	display:inline-block;
	float:left;
}
.virt-right-column{
	width:30%;
	display:inline-block;
	float:left;
	background-color:transparent;
}
.result-block{
	margin-left:3em;
	font-size:2em;
	
}
 .result-block label{
	color:#ffffff !important;
	text-shadow: 0 1px 0 #fff !important;
}
.resultspan{
	width:200px;
	display:block;
	color:red;
	color:#ff0000 !important;
	clear:both;
	text-align:left;
	font-size:22px;
	height:30px;
}
.slider-result{
	font-size:30px;
}

.result-block div{
	clear:both;
}
.azure_calc_main section{
	border-bottom:1px solid #ddd;
}
.slider-caption{
	font-size: 14px;
    line-height: 28px;
	clear: left;
    color: #919191;
	text-align:left;
    display: block;
}
/**/
#it-outsourcing-calc  li{
	width:80px;
}
#itcontacts{
	width:100%;
	position:relative;
}
.columndiv{
	width:50%;
	position:relative;
	float:left;
	clear:none;
}
.columndiv>label{
	width:30%;
}
.columndiv>div.ui-input-text{
	width:60%;
	margin-bottom:15px;
}
#itogo{
	background-color: #333;
    border-color: #1f1f1f;
    border-radius: 5px;
    color: #fff;
    float: right;
    height: 30px;
    margin-top: 7px;
    padding: 8px 10px;
    text-shadow: 0 1px 0 #111;
    min-width: 310px;
}
#itogo span{
	 font-size: 18px;
    font-weight: bold;
    line-height: 28px;
	
}
.order-button{
	width:295px !important;
}
/* scroll to top and bottom */
.nav_up {
    background: url("../images/arrow_up.png") no-repeat scroll 50% 50% rgba(0, 0, 0, 0);
    border: 1px solid #cccccc;
    bottom: 50px;
    cursor: pointer;
    height: 20px;
    left: 30px;
    padding: 7px;
    position: fixed;
    white-space: nowrap;
    width: 20px;
}
.nav_down {
    background: url("../images/arrow_down.png") no-repeat scroll 50% 50% rgba(0, 0, 0, 0);
    border: 1px solid #cccccc;
    bottom: 50px;
    cursor: pointer;
    height: 20px;
    left: 70px;
    padding: 7px;
    position: fixed;
    white-space: nowrap;
    width: 20px;
}

/* tooltip */


.slider-tooltip>img{
	width:16px;
	height:16px;
	cursor:pointer;
	display:none;
}

.slider-tooltip p {
    display:none;
}
.main-content{
min-width:880px;
max-width:880px;
margin-left:35px;
display:inline-block;
margin-bottom:30px;
}
.main-content.perviy{
margin-top:30px;
}
.main-content.vtoroi>.col_4{
float:right;
}
.main-content-text{
	height:260px;
	font-size:18px;
}
.main-content-text>ul li{
list-style-image:url(../images/snowflake-mini.png);
line-height:26px;

}
.main-content-text>h2{
	margin-left:30px;
	margin-bottom:10px;
	font-family:"Segoe UI",wf_segoe-ui_light,"Segoe UI Light","Segoe WP Light","Segoe WP",Tahoma,Arial,sans-serif;
}

#tabs>div.content>section>form{
	display:none;
}
#tabs>div>section>span, #tabs>div>section>span>a{
	color:#286AB0;
	font-weight:bold;	
}


/* Media queries*/

@media
only screen and (-webkit-min-device-pixel-ratio: 1.1)     ,
only screen and (   min--moz-device-pixel-ratio: 1.1)     ,
only screen and (    -ms-min-device-pixel-ratio: 1.1)     ,
only screen and (     -o-min-device-pixel-ratio: 2/1.9)   ,
only screen and (        min-device-pixel-ratio: 1.1)     ,
only screen and (                min-resolution: 101dpi)  ,
only screen and (                min-resolution: 1.1dppx) {
	html { 
   
		background:#fff 0 0 no-repeat;
	}
	#nav_up, #nav_down{
		visibility:hidden;
	}
}
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
 
	#nav_up, #nav_down{
		visibility:hidden;
	}
	.menubar #nav ul li a{
			padding: 10px 15px;
		}
	/* your css rules for ipad portrait */
}
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape) {
 
	#nav_up, #nav_down{
		visibility:hidden;
	}
	.menubar #nav ul li a{
			padding: 10px 15px;
		}
	/* your css rules for ipad landscape */
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
		
			.menubar #nav #navbar li:before{
				left: -19px;
			}
		.menubar #nav ul li a{
			padding: 10px 14px;
		}	
	
}

