/*Sliding Text and Icon Menu Style*/
.sti-menu{
	width:1010px;
	position:relative;
	margin:60px auto 0 auto;
}
.sti-menu li{
	float:left;
	width:174px;
	height:275px;
	margin:1px 1px 20px;
}
.sti-menu li a{
	border:none;
	display:block;
	overflow:hidden;
	background:#fff;
	text-align:center;
	height:100%;
	width:100%;
	position:relative;
	-moz-box-shadow:1px 1px 2px #767676;
	-webkit-box-shadow:1px 1px 2px #767676;
	box-shadow:1px 1px 2px #767676;
}
#sti-menu li a:focus, .sti-menu li a:hover{background-color:#286AB0;}

.sti-menu li a h2{
	color:#000;
	font-family: arial, serif; 
	font-size:16px;
	font-weight:bold;
	text-transform:uppercase;
	position:absolute;
	padding:10px;
	width:150px;
	top:140px;
	left:0px;
	text-shadow: 0px 1px 1px black;
}
.sti-menu li a h3{
	font-weight:normal;
	font-family: "Times New Roman", serif; 
	font-size:18px;
	font-style:italic;
	color: #111;
	position:absolute;
	top:200px;
	left:0px;
	width:150px;
	padding:10px;
}
.sti-icon{
	width:100px;
	height:100px;
	position:absolute;
	background-position:top left;
	background-repeat:no-repeat;
	background-color:transparent;
	left:35px;
	top:30px;
}
.sti-icon-vizitka{
	background-image:url(../images/onepagesite.png);
}
.sti-icon-corporative{
	background-image:url(../images/corporative.png);
}
.sti-icon-webstore{
	background-image:url(../images/webstore.png);
}
.sti-icon-catalog{
	background-image:url(../images/catalog.png);
}
.sti-icon-unique{
	background-image:url(../images/unique.png);
}
/*Измененный дизайн jquery mobile*/
/* Custom indentations are needed because the length of custom labels differs from
   the length of the standard labels */
.custom-size-flipswitch.ui-flipswitch .ui-btn.ui-flipswitch-on {
    text-indent: -5.9em;
}
.custom-size-flipswitch.ui-flipswitch .ui-flipswitch-off {
    text-indent: 0.5em;
}
/* Custom widths are needed because the length of custom labels differs from
   the length of the standard labels */
.custom-size-flipswitch.ui-flipswitch {
    width: 8.875em;
}
.custom-size-flipswitch.ui-flipswitch.ui-flipswitch-active {
    padding-left: 7em;
    width: 1.875em;
}
@media (min-width: 28em) {
    /*Repeated from rule .ui-flipswitch above*/
    .ui-field-contain > label + .custom-size-flipswitch.ui-flipswitch {
        width: 1.875em;
    }
}
.ui-flipswitch .ui-btn.ui-flipswitch-on{width: 2.2em}
.ui-flipswitch .ui-btn.ui-flipswitch-on, .ui-flipswitch .ui-flipswitch-off{height: 2.2em;}
html .ui-field-contain > label + .ui-flipswitch, html .ui-popup .ui-field-contain > label + .ui-flipswitch{ width: 8.875em;}
.ui-flipswitch .ui-btn.ui-flipswitch-on, .ui-flipswitch .ui-flipswitch-off{line-height: 2.2em;font-size:16px;}
.ui-checkbox label.ui-btn span.price, .ui-radio label.ui-btn span.price{float:right}
#call-order-wrapper{
	background: url("../images/promo.jpg") repeat scroll center center / cover rgba(0, 0, 0, 0);
    color: #fff;
    position: relative;
    text-align: center;
	height:140px;
	padding: 50px 0;
}
#call-order-block {
    display: inline-block;
    padding: 40px 35px;
	width:808px;
}
#call-order-block {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.25);
    border-radius: 0.5em;
}
#call-order-block .button {
    font-size: 16px;
}
#call-order-block .button {
    background: none repeat scroll 0 0 #fff;
    border-color: rgba(255, 255, 255, 0);
    color: #27636b;
	border:1px solid;
}
#call-order-block .button:hover {
    background-color: rgba(255, 255, 255, 0.15);
    border-color: rgba(255, 255, 255, 0.75);
    color: #fff;
}
.button {
    border-radius: 5px;
    display: inline-block;
    padding: 12px;
    text-decoration: none;
}
#call-order-block h2 {
	margin-bottom: 0;
    display: inline-block;
    font-size: 22px;
    margin-right: 1em;
}
#call-order-block h2 {
    color: #fff;
}
#WebSiteCallOrder-popup{
	width:480px;
}	