/*Sliding Text and Icon Menu Style*/

.4pc-oder-wrapper{
width:100%;
}
.h1ordertitle{
	text-align:center;
color: #000000;
    font-family: 'Open Sans', serif;
    font-size: 40px;
    margin: 10px 0 0 20px;
    text-shadow: 1px 1px 1px #FFFFFF;
	width:900px
}
.fast-it-sti-menu{
	width:1010px;	
	position:relative;
	margin:60px auto 0 auto;
	list-style: none outside none;
}
.fast-it-sti-menu li{
	float:left;
	width:16em;
	height:25em;
	margin:1px;
}
.fast-it-sti-menu li a{
	border:none;
	display:block;
	overflow:hidden;
	background:#fff;
	text-align:center;
	height:100%;
	width:100%;
	position:relative;
	-moz-box-shadow:1px 1px 2px #767676;
	-webkit-box-shadow:1px 1px 2px #767676;
	box-shadow:1px 1px 2px #767676;
}
.fast-it-sti-menu li a h2{
	color:#000;
	font-family: 'Open Sans', serif; 
	font-size:16px;
	font-weight:bold;
	text-transform:uppercase;
	position:absolute;
	padding:10px;
	width:300px;
	top:7em;
	left:0px;
	text-shadow: 0px 1px 1px black;
	text-align:left;
}
.fast-it-sti-menu li a h2 p{
	margin-bottom:0.5em;
	width:300px;
}

.sti-icon{
	width:240px;
	height:60px;
	position:absolute;
	background-position:top left;
	background-repeat:no-repeat;
	background-color:transparent;
	left:40px;
	top:30px;
}
.sti-icon-econom{
	background-image:url(../images/econom.png);
}
.sti-icon-standart{
	background-image:url(../images/standart.png);
}
.sti-icon-profi{
	background-image:url(../images/profi.png);
}

/* button start*/
input.button-order {
    background-image: url(../images/button-ico.png); /* 16px x 16px */  
    background-repeat: no-repeat;  /* make the background image appear only once */
    background-position: 15px 10px;  /* equivalent to 'top left' */
    cursor: pointer;        /* make the cursor like hovering over an <a> element */    
	
    vertical-align: middle; /* align the text vertically centered */
	background-color: #333333;
    border: 1px solid #000000 !important;
    border-radius: 3px;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.4) inset;
    color: #FFFFFF;    
    text-decoration: none;
	width:200px;
	height:63px;
	opacity:1;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 130%;
    font-weight: bold;
    
	text-indent:2em;
}
.fast-it-sti-menu li a div{
	font-family: 'Open Sans', serif; 
	font-size:18px;
	font-style:italic;
	color: #111;
	position:relative;
	top:380px;
	left:2.8em;
	width:200px;
	height:63px;
	padding:10px;
	
}
.fast-it-sti-menu li a:hover, .fast-it-sti-menu li a:focus{
	background-color:#000;
}